.counter{ /*counter box*/
    -fx-background-color: white;
}

.increment{
    -fx-background-image: url("increment.png");
    -fx-background-size: 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-color: white;
}

.decrement{
    -fx-background-image: url("decrement.png");
    -fx-background-size: 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-color: white;
}